<section class="pi-item pi-smart-group pi-border-color">
    {{#if renderLabels}}
        <section class="pi-smart-group-head">
            {{#each labels}}
                <h3 class="pi-smart-data-label pi-data-label pi-secondary-font pi-item-spacing" style="{{{inlineStyles}}}">{{{value}}}</h3>
            {{/each}}
        </section>
    {{/if}}
    <section class="pi-smart-group-body">
        {{#each values}}
            <div class="pi-smart-data-value pi-data-value pi-font pi-item-spacing" style="{{{inlineStyles}}}">{{{value}}}</div>
        {{/each}}
    </section>
</section>