<p class="pi-error-info">{{info}}</p>
<ul class="pi-debug">
	{{#each code}}
	<li>
		<div class="pi-debug-line{{#if error}} error{{/if}}">
			<div class="pi-debug-line-number">{{line}}</div>
			<div class="pi-debug-line-code">{{codeLine}}</div>
		</div>
		{{#if error}}
		<div class="pi-debug-error-message">
			{{#each error_messages}}
				<p class="pi-debug-error-message-item">{{{message}}}</p>
			{{/each}}
		</div>
		{{/if}}
	</li>
	{{/each}}
</ul>